.checkbox {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1rem;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 1rem;

  &__input {
    // left: -9999px;
    // position: absolute;
    visibility: hidden;
    // top: -9999px;

    &[checked] + .checkbox__mask {
      background-color: $darkAccentColor;
      border-radius: 50%;
      display: inline-block;
      height: 0.75rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0.75rem;
    }
  }
}