$backgroundColor: #1d252c;
$accentColor: #70e1e8;
$darkAccentColor: #008b94;
$borderColorDark: #303b44;
$inputPlaceholderColor: #718ca1;

// Font colors
$defaultFontColor: #fff;
$lightFontColor: #fff;
$dimmedFontColor: #718ca1;

$checkboxCheckedColor: #718ca1;
