.list-filters {
  &__filter {
    color: $defaultFontColor;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;

    &--selected {
      color: #fff;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}